fastapi
uvicorn[standard]
joblib
pandas
scikit-learn
pydantic
numpy
torch
transformers
datasets
peft
accelerate
bitsandbytes
flask
flask-cors
sentencepiece
safetensors
scikit-learn
pymongo
sentence-transformers
python-dotenv
openai